/* CSS file for Table.html */
body {
  background-color: #dbd1d0;
}

.signup-ctn {
  border: 1px solid rgb(236, 236, 236);
  padding: 20px;
  border-radius: 20px;
  width: 900px;
  height: 400px;
  margin: 40px auto;
  background-color: #ffffffce;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form-data-ctn {
  width: 880px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.head-ctn {
  margin-left: 28px;
  width: 340px;
  height: 60px;
  margin: auto;
}

.head-ctn h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #414141;
  font-size: 34px;
}
.form-data-ctn label {
  font-weight: bolder;
  font-size: 18px;
  color: #383838;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.name-ctn,
.email-ctn,
.age-ctn,
.address-ctn {
  padding: 10px;
  width: 380px;
  height: 80px;
  margin: auto;
}
.signup-ctn input {
  border-radius: 10px;
  border: 1px solid grey;
  width: 340px;
  padding-left: 12px;
  height: 44px;
}
.signup-ctn input:hover {
  border-color: rgb(0, 0, 0);
}
.data {
  display: grid;
  margin: auto;
  width: 800px;
  height: 300px;
  grid-template-rows: 10% 10%;
  grid-template-columns: 50% 50%;
  padding: 20px;
  gap: 40px;
}

.data div {
  width: 70%;
  height: 50vh;
  row-gap: 4px;
}

span {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.data span {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.data input {
  width: 300px;
  height: 30px;
}
.data-btn-ctn {
  align-items: center;
  justify-content: center;
}
table,
th,
td {
  border: solid 0.1em rgb(160, 156, 156);
  white-space: nowrap;
  padding: 20px;
}
th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #252f38;
  color: white;
}
td {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ebeaea;
}
table {
  width: 700px;
  margin: auto;
  border-collapse: collapse;
}
tbody {
  border: 1px;
}
.btn-ctn {
  width: 300px;
  padding: 10px;
  margin: auto;
}

.button-6 {
  align-items: center;
  background-color: #0b63d6fb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.986);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
